body {
  font-family: "Inter";
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

.container-fluid#nav {
  width: 1262px;
  height: 72px;
}
#logo {
  width: 114.368px;
  height: 19px;
}
.button-menu {
  border: none;
  margin: 0px;
  padding: 24px;
}
.nav-menu {
  font-size: 14px;
  gap: 48px;
}

.dropdown-menu {
  font-size: 14px;
  border: none;
}
#button-contact {
  color: var(--grey, #f5f0ec);
  text-align: center;
  font-family: Inter;
  margin-top: 72px;
  margin-left: 75px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 200px;
  background: var(--green, #1b5b31);
  width: 208px;
  height: 50px;
  cursor: pointer;
}

#button-contact:hover {
  background-color: #dcc1ab;
  border: 1px solid #1b5b31;
  color: #1b5b31;
}

#button-show,
#arrow-button {
  color: #1b5b31;
  text-align: center;
  font-family: "Inter";
  margin-top: 72px;
  margin-left: 36px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 200px;
  background-color: #dcc1ab;
  border: 1px solid #1b5b31;
  width: 249px;
  height: 50px;
  cursor: pointer;
}

#button-show:hover {
  background-color: #1b5b31;
  color: var(--grey, #f5f0ec);
}

.search-container {
  position: relative;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
}

.search-icon {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.close-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  font-size: 25px;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.search-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 5px;
  display: none;
}

.search-input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.search-box.active,
.search-overlay.active {
  display: block;
}

.background-column {
  background-color: #dcc1ab;
  padding: 20px;
  height: 737px;
}

.image-column {
  height: 737px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-color: #dcc1ab;
}
.img-fluid {
  width: 688px;
  height: 737px;
}
.text-block {
  width: 599px;
  height: 448px;
  margin-left: 64px;
}
.headline {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  margin-top: 144.5px;
  margin-left: 89px;
}
.headline-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 44px;
  text-align: left;
  margin-left: 89px;
}

.navigation-arrow {
  width: 24.288px;
  margin: 24px;
}

#navi-smal {
  color: var(--green, #1b5b31);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.12px;
}

.header-offer {
  padding-top: 16px;
  color: var(--black, #111);
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 55.2px */
  letter-spacing: -1.44px;
}
.text-offer {
  padding-top: 32px;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  color: var(--black, #111);
}

#offer {
  margin-top: 120px;
  margin-bottom: 96px;
  background: var(--grey, #f5f0ec);
}
.card {
  display: flex;
  width: 394px;
  height: 354px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 28px;
  background: var(--white, #fff);
  margin-top: 96px;
  margin-bottom: 160;
  margin-right: 64px;
}
.card-body {
  width: 274px;
  height: 298px;
  padding: 48px 40px 48px 40px;
}

#Icon_card_1 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
#Icon_card_2 {
  width: 48px;
  height: 29px;
  flex-shrink: 0;
}
#Icon_card_3 {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}
.card-tite {
  color: var(--black, #111);
  /* Montserrat/H-3 */
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  letter-spacing: -1.4px;
  align-self: stretch;
  padding-top: 32px;
}
.card-text {
  color: var(--black, #111);
  /* Inter/Body-small */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  align-self: stretch;
  width: 298px;
  height: 63px;
  padding-top: 12px;
}
.button_card {
  display: flex;
  padding-bottom: 0px;
  width: 171px;
  height: 28px;
  align-items: center;
  padding-top: 63px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid var(--green, #1b5b31);
}
.button_text {
  color: var(--green, #1b5b31);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-bottom: 30px;
}
.button_card svg {
  fill: var(--green, #1b5b31);
  margin-left: 10px;
  margin-top: 4px;
  position: absolute;
}

.button_card :hover {
  color: var(--green, #1b5b31);
}
.button_card_3 {
  display: flex;
  padding-bottom: 0px;
  width: 207px;
  height: 28px;
  align-items: center;
  padding-top: 63px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid var(--green, #1b5b31);
}

.button_card_3 :hover {
  color: var(--green, #1b5b31);
}
